.player-section {
  background-color: var(--color-background-3);
  color: var(--color-foreground-3);
  padding-top: 100px;
  padding-bottom: 100px;
  display: grid;
  align-items: flex-start;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }
  @media (max-width: 767px) {
    grid-auto-flow: row;
    row-gap: 60px;
  }
  .player-section--left {
    .player-section--left--heading {
      display: grid;
      row-gap: 20px;
      .player-section--left--heading--sectiontitle {
        justify-self: flex-start;
        color: var(--color-foreground-5);
      }
      .player-section--left--heading--title {
      }
      .player-section--left--heading--subtitle {
      }
    }
  }
  .player-section--container {
    display: grid;
    grid-auto-flow: row;
    row-gap: 40px;
  }
  &.alternate-theme {
    background-color: var(--color-background-2);
    color: var(--color-foreground-2);
    .player-section--left {
      .player-section--left--heading {
        .player-section--left--heading--sectiontitle {
          color: var(--color-foreground-2);
        }
      }
    }
  }
}

.player-sectiontile {
  display: grid;
  grid-auto-flow: column;
  column-gap: 40px;
  .player-sectiontile--index {
    font-size: 64px;
    font-style: italic;
    color: var(--color-foreground-4);
    font-family: "Libre Baskerville", serif;
  }
  .player-sectiontile--content {
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;
    align-content: flex-start;
    .player-sectiontile--content--title {
      font-weight: 600;
    }
    .player-sectiontile--content--description {
    }
  }
}
