.simple-section {
  background-color: var(--color-background-1);
  padding-top: 100px;
  padding-bottom: 100px;
  display: grid;
  row-gap: 40px;
  .simple-section--heading {
    display: grid;
    row-gap: 20px;
    .simple-section--heading--title {
      color: var(--color-primary-1);
    }
    .simple-section--heading--subtitle {
    }

    img {
      width: 100%;
    }
  }
}
