.player-three-illustration {
  svg {
    width: 100%;
    height: auto;
    max-height: 50vh;
  }

  .cls-1 {
    fill: #e6e6e6;
  }

  .cls-2,
  .cls-9 {
    fill: #fff;
  }

  .cls-3 {
    fill: #f50057;
  }

  .cls-4 {
    opacity: 0.2;
    isolation: isolate;
  }

  .cls-5 {
    fill: #3f3d56;
  }

  .cls-6 {
    fill: #d08b5b;
  }

  .cls-10,
  .cls-6,
  .cls-8,
  .cls-9 {
    fill-rule: evenodd;
  }

  .cls-7 {
    fill: #e86bbb;
  }

  .cls-10 {
    fill: #fdea6b;
  }
}
