.player-four-illustration {
  svg {
    width: 100%;
    height: auto;
    max-height: 50vh;
  }

  .cls-1 {
    fill: red;
  }

  .cls-1,
  .cls-6 {
    opacity: 0.75;
  }

  .cls-2 {
    fill: #fbb03b;
  }

  .cls-3 {
    fill: #8cc63f;
  }

  .cls-4 {
    fill: #fff;
  }

  .cls-5 {
    fill: #666;
  }
}
